In [ ]:
#%pip install yfinance

In [ ]:
import requests as r
import getpass as gp
import pandas as pd
#import yfinance as yf

In [ ]:
URL_IOLToken = "https://api.invertironline.com/token"

URL_IOLCuenta = "https://api.invertironline.com/api/v2/estadocuenta"

URL_IOLCotizacion = "https://api.invertironline.com/api/v2/{Mercado}/Titulos/{Simbolo}/Cotizacion"

URL_IOLPortfolio = "https://api.invertironline.com/api/v2/portafolio/argentina"

URL_IOLOperaciones = "https://api.invertironline.com/api/v2/operaciones"

URL_IOL_All_Instruments = "https://api.invertironline.com/api/v2/Cotizaciones/GGAL/argentina/Todos"

In [ ]:
DATOS_Comisiones = {'gold': 5/1000, 'platinum': 3/1000, 'black': 1/1000}

In [ ]:
DATOS_Paneles = [ "acciones",
            "cedears",
            "titulospublicos",
            "opciones"]

In [ ]:
body = {"username"   : "juje",
        "password"   : gp.getpass("Insert Password: "),
        "grant_type" : "password"}

Insert Password: ··········

In [ ]:
TokenLogIn = r.post(url = URL_IOLToken, data = body)

TokenBearer = TokenLogIn.json()["access_token"]

TokenRefresh = TokenLogIn.json()["refresh_token"]

print("Expires at " + TokenLogIn.json()[".expires"])

Expires at Mon, 13 Mar 2023 15:41:59 GMT

In [ ]:
body2 = {"refresh_token"   : TokenRefresh,
        "grant_type" : "refresh_token"}

In [ ]:
def TokenRefresher():
    
    global TokenLogIn
    global TokenBearer
    global TokenRefresh
    
    TokenLogIn = r.post(url = URL_IOLToken, data = body2)
    TokenBearer = TokenLogIn.json()["access_token"]
    TokenRefresh = TokenLogIn.json()["refresh_token"]
    
    return print("Expires at " + TokenLogIn.json()[".expires"])

In [ ]:
DATOS_EstadoCuenta = r.get(url=URL_IOLCuenta, headers={"Authorization" : "Bearer " + TokenBearer}).json()

In [ ]:
DATOS_CuentaArg_Pesos = DATOS_EstadoCuenta["cuentas"][0]

DATOS_CuentaArg_Dolares = DATOS_EstadoCuenta["cuentas"][1]

DATOS_Valor_Portfolio_Pesos = round(DATOS_EstadoCuenta["cuentas"][0]["titulosValorizados"], 2)

#DATOS_Valor_Portfolio_Dolares = DATOS_EstadoCuenta["cuentas"][1]["titulosValorizados"]

DATOS_Disponible_Operar_Pesos = DATOS_CuentaArg_Pesos["saldos"][3]["disponibleOperar"]

DATOS_Stats_Actual_Volumen = DATOS_EstadoCuenta["estadisticas"][1]["volumen"]

DATOS_Stats_TotalEnPesos = round(DATOS_EstadoCuenta["totalEnPesos"], 2)

In [ ]:
DATOS_USDenARS = round(DATOS_Stats_TotalEnPesos - DATOS_Disponible_Operar_Pesos - DATOS_Valor_Portfolio_Pesos, 2)

DATOS_USD_FX_Oficial = round(DATOS_USDenARS / DATOS_CuentaArg_Dolares["saldo"], 2)

In [ ]:
DATOS_Portfolio = r.get(url=URL_IOLPortfolio, headers={"Authorization" : "Bearer " + TokenBearer}).json()["activos"]

DATOS_Portfolio_Paneles = list(set([i["titulo"]["tipo"] for i in DATOS_Portfolio]))
DATOS_Portfolio_Paneles.sort()

DATOS_Portfolio_Activos = list(set([i["titulo"]["simbolo"] for i in DATOS_Portfolio]))
DATOS_Portfolio_Activos.sort()

In [ ]:
def GetInstruments(panel=DATOS_Paneles[0]):
    
    InstrumentsResponse = r.get(url=URL_IOL_All_Instruments, params={ "cotizacionInstrumentoModel.instrumento" : panel, "cotizacionInstrumentoModel.pais" : "argentina"}, headers={"Authorization" : "Bearer " + TokenBearer}).json()["titulos"]
    
    return [i["simbolo"] for i in InstrumentsResponse]

In [ ]:
Instruments0 = GetInstruments()
Instruments1 = GetInstruments(DATOS_Paneles[1])
Instruments2 = GetInstruments(DATOS_Paneles[2])
#Instruments3 = GetInstruments(DATOS_Paneles[3])

In [ ]:
def Cotizacion(simbolo, mercado = "BCBA", plazo = "t2"):
    
    CotizacionParametros = {"mercado"       : mercado,
                            "simbolo"       : simbolo, 
                            "model.simbolo" : simbolo, 
                            "model.mercado" : mercado, 
                            "model.plazo"   : plazo}
    
    return r.get(url=URL_IOLCotizacion, params=CotizacionParametros, headers={"Authorization" : "Bearer " + TokenBearer}).json()

In [ ]:
def GetDFvolume(inst=Instruments0, tim = "t2"):
    
    DFvolume = pd.DataFrame(index=inst, columns=["montoOperado", "percentOperado"])
    
    for i in inst:
        DFvolume["montoOperado"][i] = round(Cotizacion(i, plazo = tim)["montoOperado"] / 1000000, 2)

    for i in inst:
        DFvolume["percentOperado"][i] = round(DFvolume["montoOperado"][i] / DFvolume.sum()["montoOperado"] * 100, 2)
        
    DFvolume.sort_values("percentOperado", ascending=False, inplace=True)
        
    return DFvolume

In [ ]:
def tcventa(ars, usd, fee="platinum"):
    return round((ars * (1 - DATOS_Comisiones[fee]))/(usd * (1 + DATOS_Comisiones[fee])), 2)

def tccompra(ars, usd, fee="platinum"):
    return round((ars * (1 + DATOS_Comisiones[fee]))/(usd * (1 - DATOS_Comisiones[fee])), 2)

# Vale la pena crear variables locales para cada parte del numerador y denominador?
# revisar los decimales
#FALTA INCORPORAR LOS DERECHOS DE MERCADO
#FALTA INCLUIR VALORES MINIMOS
# Compra no tiene en cuenta el parking

In [ ]:
ListMEP = [i for i in Instruments2 if i.upper().endswith("D")]
ListMEPstrip = [i.rstrip(i[-1]) for i in ListMEP]

ListCCL = [i for i in Instruments2 if i.upper().endswith("C")]
ListCCLstrip = [i.rstrip(i[-1]) for i in ListCCL]

ListExclude = []

for i in ListMEPstrip:
    if i not in Instruments2:
        ListExclude.append(i + "D")
        
for i in ListCCLstrip:
    if i not in Instruments2:
        ListExclude.append(i + "C")

for i in ListExclude: 
    if i in ListMEP:
        ListMEP.remove(i)

    if i in ListCCL:
        ListCCL.remove(i)

ListMEPstrip = [i.rstrip(i[-1]) for i in ListMEP]
ListCCLstrip = [i.rstrip(i[-1]) for i in ListCCL]

List_Intersect = [i for i in ListMEPstrip if i in ListCCLstrip]
List_Unique = [i for i in ListMEPstrip if i not in ListCCLstrip]

In [ ]:
def GetDFFX(fee="platinum"):
    
    DFFX = pd.DataFrame(index=List_Intersect, columns=["Compra_"+fee, "Venta_"+fee])
    
    for i in List_Intersect:
        TickerARS = Cotizacion(i, plazo = "t0")
        TickerUSD = Cotizacion(i + "D", plazo = "t0")
        try:
            DFFX["Compra_"+fee][i] = tcventa(TickerARS["puntas"][0]["precioCompra"], TickerUSD["puntas"][0]["precioVenta"], fee)
            
            DFFX["Venta_"+fee][i] = tccompra(TickerARS["puntas"][0]["precioVenta"], TickerUSD["puntas"][0]["precioCompra"], fee)
        except:
          continue
        
    return DFFX

In [ ]:
def GetDF_Rendimientos():
    DF_Rendimientos = (pd.DataFrame(index=DATOS_Portfolio_Activos, columns=["Rendimiento%", "Tipo_de_Titulo"]))

    for i in DATOS_Portfolio:

        iticker = i["titulo"]["simbolo"]
        itipo = i["titulo"]["tipo"]
        irendimiento = i["gananciaPorcentaje"]

        DF_Rendimientos["Rendimiento%"][iticker] = irendimiento
        DF_Rendimientos["Tipo_de_Titulo"][iticker] = itipo

    return DF_Rendimientos

In [ ]:
def GetDF_Weight(Tipo_de_Titulo = DATOS_Portfolio_Paneles[0]):

    DF_Weight = (pd.DataFrame(index=DATOS_Portfolio_Activos, columns=["Valor"]))

    for i in DATOS_Portfolio:

        iticker = i["titulo"]["simbolo"]
        itipo = i["titulo"]["tipo"]
        ivalorizado = i["valorizado"]

        if itipo == Tipo_de_Titulo:

            DF_Weight["Valor"][iticker] = ivalorizado

        else:
          continue 

    DF_Weight.dropna(inplace=True)

    TotalPortfolio = DF_Weight.sum()["Valor"]

    DF_Weight["Peso"] = None

    for i in DF_Weight.index:

      DF_Weight["Peso"][i] = round(DF_Weight["Valor"][i] / TotalPortfolio * 100, 2)

    DF_Weight.sort_values(by=["Valor"], ascending=False, inplace=True)

    return DF_Weight

In [ ]:
def GetDF_Hist_Vol(simbolo, mercado = "BCBA", fechaDesde = "2022-11-01", fechaHasta = "2022-12-01"):

  URL_IOL_Serie_Historica = f"https://api.invertironline.com/api/v2/{mercado}/Titulos/{simbolo}/Cotizacion/seriehistorica/{fechaDesde}/{fechaHasta}/sinAjustar"
  dato = r.get(url=URL_IOL_Serie_Historica, headers={"Authorization" : "Bearer " + TokenBearer}).json()

  indice = [i["fechaHora"][0:10] for i in dato]

  DF_Hist_Vol = pd.DataFrame(index=indice, columns=[simbolo])

  for i in dato:

    icuanDo = i["fechaHora"][0:10]
    icuanTo = round(i["montoOperado"] / 1000000, 2)

    DF_Hist_Vol[simbolo][icuanDo] = icuanTo

  return DF_Hist_Vol

In [ ]:
#TokenRefresher()

Expires at Mon, 13 Mar 2023 16:10:34 GMT

In [ ]:
#TokenBearer

In [ ]:
DATOS_Operaciones = r.get(url=URL_IOLOperaciones, headers={"Authorization" : "Bearer " + TokenBearer}).json()

hoper = list(set([i["tipo"] for i in DATOS_Operaciones]))
hoper.sort()
hoper

['Compra', 'Pago de Dividendos', 'Pago de Renta', 'Venta']

In [ ]:
for i in DATOS_Operaciones:
  if i["tipo"] == "Pago de Dividendos" or i["tipo"] == "Pago de Renta":
    print(i["numero"], i["simbolo"], i["montoOperado"])
  else:
    continue

48701410 KO None
48701409 KO US$ 0.05
48553149 MGC9O None
48553148 MGC9O US$ 0.79
48499858 VALO 1.88
48429630 BMA 12.87
48424952 BBAR 14.32

In [ ]:
Gold = GetDFFX(fee="gold")
Plat = GetDFFX(fee="platinum")
Black = GetDFFX(fee="black")

COMPARE_FX = Gold.join(Plat).join(Black)

asd = COMPARE_FX.columns.tolist()
asd.sort()
asd = asd[1:3] + asd[0:1] + asd[3:4] + asd[5:6] + asd[4:5]

COMPARE_FX = COMPARE_FX[asd]

COMPARE_FX

,Compra_gold,Compra_platinum,Compra_black,Venta_black,Venta_platinum,Venta_gold
AE38,367.16,368.63,370.11,385.34,386.89,388.44
AL29,366.87,368.34,369.81,378.98,380.5,382.02
AL30,373.24,374.73,376.23,377.99,379.5,381.02
AL35,360.87,362.31,363.77,386.83,388.38,389.93
AL41,365.59,367.06,368.53,387.58,389.14,390.7
GD29,366.24,367.71,369.18,391.7,393.27,394.85
GD30,373.52,375.02,376.53,378.24,379.76,381.28
GD35,372.16,373.66,375.15,379.96,381.48,383.01
GD38,339.84,341.2,342.57,402.66,404.28,405.9
GD41,351.05,352.46,353.87,441.25,443.02,444.79
GD46,NaN,NaN,NaN,NaN,NaN,NaN
T2V3,NaN,NaN,NaN,NaN,NaN,NaN
T2X3,NaN,NaN,NaN,NaN,NaN,NaN

In [ ]:
GetDF_Rendimientos()

                   Rendimiento%           Tipo_de_Titulo
AAPL                      41.14                  CEDEARS
ADRDOLA                   38.08    FondoComundeInversion
AL30                       27.7          TitulosPublicos
ALUA                      34.48                 ACCIONES
BMA                       73.11                 ACCIONES
BYMA                       39.0                 ACCIONES
CAUCIÓN COLOCADORA         0.17           CAUCIONESPESOS
CEPU                      57.62                 ACCIONES
CNXPOPA                   42.05    FondoComundeInversion
COME                      57.21                 ACCIONES
CRES                      29.79                 ACCIONES
CS38O                     36.38  ObligacionesNegociables
EDN                       50.45                 ACCIONES
GD30                      -5.05          TitulosPublicos
GGAL                      88.65                 ACCIONES
GOLD                      19.16                  CEDEARS
GOOGL                      8.84                  CEDEARS
IRCFO                     38.74  ObligacionesNegociables
KO                        19.83                  CEDEARS
LOMA                       27.1                 ACCIONES
MCD                       15.58                  CEDEARS
MELI                      61.18                  CEDEARS
MGC9O                      38.3  ObligacionesNegociables
MIRG                      32.27                 ACCIONES
MSFT                      18.97                  CEDEARS
PAMP                      48.31                 ACCIONES
PBR                         8.7                  CEDEARS
PCOMAGB                   49.84    FondoComundeInversion
PRCPPEB                   70.01    FondoComundeInversion
PRFAHOB                   86.31    FondoComundeInversion
PRPLPEB                    41.1    FondoComundeInversion
TDJ23                     16.47          TitulosPublicos
TGNO4                    131.56                 ACCIONES
TGSU2                     49.31                 ACCIONES
TO23                      15.58          TitulosPublicos
TRAN                     119.01                 ACCIONES
TSLA                      16.94                  CEDEARS
TV23                      59.32          TitulosPublicos
TX23                      55.06          TitulosPublicos
TXAR                      24.93                 ACCIONES
VALO                      31.22                 ACCIONES
VIST                      55.15                  CEDEARS
VSC3O                     38.28  ObligacionesNegociables
VSCFO                       0.0  ObligacionesNegociables
YPFD                     109.69                 ACCIONES

In [ ]:
#GetDF_Hist_Vol("KO", fechaHasta = "2023-01-10")

In [ ]:
#DF_EquityArgNorm.loc[["YPFD"]]

In [ ]:
DF_EquityArgNorm = GetDFvolume()

DF_EquityArgNorm.sum()

montoOperado      1622.39
percentOperado     100.01
dtype: object

In [ ]:
GetDF_Weight().join(DF_EquityArgNorm)

         Valor   Peso montoOperado percentOperado
YPFD   49150.8  39.65        918.1          56.59
GGAL   20839.5  16.81       245.42          15.13
PAMP   7922.85   6.39        68.24           4.21
TGSU2   6048.0   4.88        21.87           1.35
TGNO4   5355.0   4.32        31.76           1.96
ALUA    5238.0   4.23        17.35           1.07
MIRG    5053.0   4.08         4.59           0.28
TXAR    4460.0    3.6        15.38           0.95
BMA     3713.0    3.0        55.59           3.43
LOMA    3072.0   2.48        12.03           0.74
CEPU    2484.0    2.0        66.28           4.09
TRAN    2067.5   1.67        20.77           1.28
BYMA    1946.0   1.57         3.62           0.22
CRES    1834.0   1.48        22.07           1.36
EDN     1824.6   1.47         6.83           0.42
COME    1560.0   1.26        14.43           0.89
VALO    1396.8   1.13         2.81           0.17

In [ ]:
DF_EquityArgCI = GetDFvolume(tim = "t0")

DF_EquityArgCI.sum()

montoOperado       34.01
percentOperado    100.02
dtype: object

In [ ]:
DF_EquityArgCI.head(n=5).sum()

montoOperado      28.08
percentOperado    82.57
dtype: object

In [ ]:
DF_EquityArgCI.head(n=5)

      montoOperado percentOperado
YPFD         12.54          36.87
GGAL         10.39          30.55
TGSU2         2.91           8.56
TRAN          1.22           3.59
TXAR          1.02            3.0

In [ ]:
#Cambiar los nombres para de las columnas

#DF_EquityArgCI.join(DF_EquityArgNorm)

In [ ]:
DF_EquityUSAnorm = GetDFvolume(inst=Instruments1)

DF_EquityUSAnorm.sum()

montoOperado      2453.63
percentOperado      99.96
dtype: object

In [ ]:
GetDF_Weight(DATOS_Portfolio_Paneles[2]).join(DF_EquityUSAnorm)

        Valor   Peso montoOperado percentOperado
KO     9484.0  17.69        299.7          12.21
MELI   7600.0  14.17        47.81           1.95
VIST   6927.5  12.92        65.98           2.69
GOLD   6660.5  12.42       100.07           4.08
AAPL   5964.0  11.12       193.64           7.89
TSLA   4490.5   8.38        63.94           2.61
MCD    4360.0   8.13         6.31           0.26
PBR    4185.0   7.81        28.05           1.14
MSFT   3323.0    6.2        42.11           1.72
GOOGL   621.5   1.16        52.07           2.12

In [ ]:
DF_EquityUSAci = GetDFvolume(inst=Instruments1, tim = "t0")

DF_EquityUSAci.sum()

montoOperado      156.46
percentOperado    100.01
dtype: object

In [ ]:
DF_EquityUSAci.head(n=5).sum()

montoOperado      125.61
percentOperado     80.28
dtype: object

In [ ]:
DF_EquityUSAci.head(n=5)

     montoOperado percentOperado
SPY        100.53          64.25
MSFT         8.46           5.41
KO           7.29           4.66
MELI         5.37           3.43
AMZN         3.96           2.53

In [ ]:
DF_FixedIncomeNorm = GetDFvolume(inst=Instruments2)

DF_FixedIncomeNorm.sum()

montoOperado      3018.95
percentOperado     100.02
dtype: object

In [ ]:
GetDF_Weight(DATOS_Portfolio_Paneles[5]).join(DF_FixedIncomeNorm)

        Valor   Peso montoOperado percentOperado
TDJ23  2015.0  27.96         2.92            0.1
AL30   1913.0  26.55        610.1          20.21
GD30   1131.4   15.7      2034.04          67.38
TV23   991.75  13.76         0.26           0.01
TO23    752.0  10.44         1.17           0.04
TX23    402.4   5.58         6.25           0.21

In [ ]:
DF_FixedIncomeNorm.loc[["TDL23"]]

      montoOperado percentOperado
TDL23          0.0            0.0

In [ ]:
DF_FixedIncomeCI = GetDFvolume(inst=Instruments2, tim = "t0")

DF_FixedIncomeCI.sum()

montoOperado      5411.86
percentOperado      100.0
dtype: object

In [ ]:
DF_FixedIncomeCI.head(n=2).sum()

montoOperado      5354.33
percentOperado      98.94
dtype: object

In [ ]:
DF_FixedIncomeCI.head(n=3)

     montoOperado percentOperado
GD30      4198.94          77.59
AL30      1155.39          21.35
AE38        12.23           0.23

In [ ]:
GetDF_Hist_Vol("GD30", fechaDesde = "2023-01-13", fechaHasta = "2023-03-10").mean()

GD30    10743.931842
dtype: float64

In [ ]:
GetDF_Hist_Vol("GD30", fechaDesde = "2023-01-13", fechaHasta = "2023-03-10").median()

GD30    9644.705
dtype: float64

In [ ]:
GetDF_Hist_Vol("GD30", fechaDesde = "2023-01-13", fechaHasta = "2023-03-10")

                GD30
2023-03-09   9730.51
2023-03-08   5987.92
2023-03-07   6749.61
2023-03-06   6758.99
2023-03-03   7235.37
2023-03-02   9261.86
2023-03-01   7094.43
2023-02-28   7978.95
2023-02-27   6463.13
2023-02-24   6773.05
2023-02-23   8535.86
2023-02-22   8713.64
2023-02-17   7570.38
2023-02-16    6954.5
2023-02-15   5929.05
2023-02-14   6430.89
2023-02-13   8014.99
2023-02-10  11043.53
2023-02-09  11575.95
2023-02-08   9519.45
2023-02-07  15958.36
2023-02-06  13794.76
2023-02-03  16035.39
2023-02-02  13144.59
2023-02-01    9558.9
2023-01-31  10882.24
2023-01-30  17840.36
2023-01-27  15378.51
2023-01-26  14143.05
2023-01-25  14919.65
2023-01-24   11778.9
2023-01-23  10680.19
2023-01-20  12843.06
2023-01-19   17537.5
2023-01-18  18396.58
2023-01-17  19089.78
2023-01-16  10387.79
2023-01-13   7577.74

In [ ]:
GetDF_Weight(DATOS_Portfolio_Paneles[4])

          Valor   Peso
IRCFO   11745.0  36.55
MGC9O  10476.25   32.6
VSCFO    3960.0  12.32
CS38O    3955.0  12.31
VSC3O    2000.0   6.22